h2{
    
    font-family: 'Times New Roman', Times, serif ;
    line-height: '1.5';
    text-align: center;
    
}

h1,h2 {
    text-align: center;
    letter-spacing: .2rem;
    text-transform: capitalize;
    line-height: normal;
}

h2 {
    color: #006EB6;
    
}

p{
    line-height: '1.5';
    text-align: left;
    line-height: '1.5';
    margin-top: 20px;
}

.body {
    margin-top: 20px;      
    margin-left: auto;     
    margin-right: auto;
    width: 100%;           
    max-width: 600px;      
    padding: 20px;         
    border: 2px; 
}


body.dark {
    background-color: #333;
    color: white;
}

body.dark h2 {
    color: #90caf9;
}

body.dark footer img {
    content: url('byui-logo_white.png'); 
}


ol li {
    margin-bottom: 10px; 
    line-height: '1.5';
}


img {
    width: 150px; 
    height: auto; 
    margin-top: 10px;
    line-height: '1.5';

}
footer {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}