body {
    margin: 0; 
    padding: 20px; 
    border: 2px solid #050505; 
    box-sizing: border-box; 
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: #006EB6;
    text-decoration: underline gray;
    
}

.theme-selector {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    margin: 20px auto;           
}

h1, h2 {
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

p, ol {
    margin: 0 auto; 
    text-align: left; 
    margin-top: 20px;
    line-height: 1.5;
    max-width: 600px;
}

.body {
    margin: 0 auto; 
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center; 
}

body.dark {
    background-color: #333;
    color: white;
}

body.dark h2 {
    color: #90caf9;
}

body.dark footer img {
    content: url('byui-logo_white.png');
}

ol li {
    margin-bottom: 10px;
    line-height: 1.5;
}

img {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

